<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="text-white">Ver Evidencias</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-white">
  <div class="p-4">
    <div class="grid grid-cols-2 gap-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
      <div *ngFor="let photo of photos; let i = index" class="relative">
        <img [src]="photo" alt="Foto tomada" class="w-full h-40 sm:h-48 md:h-56 lg:h-64 xl:h-72 object-cover border border-gray-300">
      </div>

    </div>
    <div *ngIf="photos?.length === 0" class="flex flex-col items-center text-white font-bold my-4">
      <ion-icon name="information-circle-outline" size="large"></ion-icon>
      <p>No hay evidencias para mostrar</p>
    </div>
  </div>
</ion-content>
