<ion-content color="primary" class="ion-padding">
  <div class="flex justify-center">
    <img src="../assets/UCR.png" alt="Logo" class="h-25 w-50">
  </div>
  <ion-card-title class="text-center text-2xl font-bold text-white">Bienvenido(a) Supervisor {{ userName }}</ion-card-title>
  <ion-card-content>
    <div class="rounded-lg border p-5 bg-white flex justify-center">
      <div class="grid grid-cols-2 gap-4">
          <div class="flex flex-col justify-center items-center">
            <ion-button size="large" class="bg-blue-500 text-white font-bold rounded-full flex flex-col items-center justify-center" (click)="navigateToRegisterIssue()">
              <ion-icon slot="icon-only" ios="add-circle" md="add-circle-sharp" class="text-4xl"></ion-icon>
            </ion-button>
            <span class="text-center mt-2 text-blue-500 font-semibold">Registrar Incidencia</span>
          </div>
          <div class="flex flex-col justify-center items-center">
            <ion-button size="large" class="bg-blue-500 text-white font-bold rounded-full flex flex-col items-center justify-center" (click)="navigateToGeneratedIssues()">
              <ion-icon slot="icon-only" ios="eye" md="eye-sharp" class="text-4xl"></ion-icon>
            </ion-button>
            <span class="text-center mt-2 text-blue-500 font-semibold">Ver Incidencias Generadas</span>
          </div>
        <div class="flex flex-col justify-center items-center">
          <ion-button size="large" class="bg-blue-500 text-white font-bold rounded-full flex flex-col items-center justify-center" (click)="verDiagnosticos()">
            <ion-icon slot="icon-only" ios="construct" md="construct-sharp" class="text-4xl"></ion-icon>
          </ion-button>
          <span class="text-center mt-2 text-blue-500 font-semibold">Gestionar Diagnósticos</span>
        </div>
      </div>
    </div>
  </ion-card-content>
</ion-content>
