<ion-card-header class="bg-blue-600 border rounded-lg">
  <ion-card-title class="text-center text-2xl font-bold text-white">Incidencias</ion-card-title>
</ion-card-header>
<ion-content color="primary">
  <div class="p-4 ">
    <form *ngIf="!isUser" [formGroup]="searchForm">
      <div class="flex justify-between items-center mb-4">
        <ion-button (click)="openFilterModal()" color="secondary" class="flex items-left">
          <ion-icon slot="start" name="filter"></ion-icon>
          Filtro
        </ion-button>
          <input formControlName="buscar" placeholder="Buscar" class=" items-end ml-2 border border-gray-300 rounded-lg p-2 w-full" />
          <ion-button (click)="onSearch()" color="secondary">
            <ion-icon slot="icon-only" name="search"></ion-icon>
          </ion-button>
      </div>
    </form>

    <div class="incident-cards mt-2">
      <div *ngIf="incidencias.length === 0" class="flex flex-col items-center text-white font-bold my-4">
        <ion-icon name="information-circle-outline" size="large"></ion-icon>
        <p>No hay datos para mostrar</p>
      </div>
      <div *ngFor="let incidencia of incidencias" class="card bg-white rounded-lg shadow-md p-4 mb-4 transition-transform transform hover:scale-105">
        <div class="card-content">
          <ion-card-title class="text-xl font-bold text-black text-center mb-3">
            {{ incidencia.CT_Titulo_Incidencia }}
          </ion-card-title>

          <!-- Descripción, Lugar -->
          <div class="flex justify-between items-center mb-2">
            <div class="text-gray-700"><strong>Descripción:</strong> {{ incidencia.CT_Descripcion_Incidencia }}</div>
          </div>
          <div class="flex justify-between items-center mb-2">
            <div class="text-gray-700"><strong>Lugar:</strong> {{ incidencia.CT_Lugar_Incidencia }}</div>
          </div>
          <div class="flex justify-between items-center mb-2">
            <div class="text-gray-700"><strong>Fecha y hora de registro:</strong> {{ incidencia.CF_Fecha_Hora_Registro | date: 'short' }}</div>
          </div>

          <!-- Campos adicionales para rol 1 y rol 5 -->
          <ng-container *ngIf="user === 1">
            <div class="flex justify-between items-center mb-2">
              <div class="text-gray-700"><strong>ID Incidente:</strong> {{ incidencia.CN_ID_Incidente }}</div>
            </div>
            <div class="flex justify-between items-center mb-2">
              <div class="text-gray-700"><strong>Fecha y hora de asignacion:</strong> {{ incidencia.CF_Fecha_Asignacion | date: 'short' }}</div>
            </div>
            <div class="flex justify-between items-center mb-2">
              <div class="text-gray-700"><strong>Estado:</strong> {{ incidencia.T_Estado.CT_Descripcion }}</div>
            </div>
            <div class="flex justify-between items-center mb-2">
              <div class="text-gray-700"><strong>Justificación Estado:</strong> {{ incidencia.CT_Justificacion_Estado }}</div>
            </div>
            <div class="flex justify-between items-center mb-2">
              <div class="text-gray-700"><strong>Prioridad:</strong> {{ incidencia.T_Prioridad.CT_Descripcion }}</div>
            </div>
            <div class="flex justify-between items-center mb-2">
              <div class="text-gray-700"><strong>Riesgo:</strong> {{ incidencia.T_Riesgo.CT_Descripcion }}</div>
            </div>
            <div class="flex justify-between items-center mb-2">
              <div class="text-gray-700"><strong>Afectación:</strong> {{ incidencia.T_Afectacion.CT_Descripcion }}</div>
            </div>
            <div class="flex justify-between items-center mb-2">
              <div class="text-gray-700"><strong>Categoría:</strong> {{ incidencia.T_Categoria.CT_Descripcion }}</div>
            </div>
            <div class="flex justify-between items-center mb-2">
              <div class="text-gray-700"><strong>Costos:</strong> {{ incidencia.CD_Costos_Incidencia | currency }}</div>
            </div>
            <div class="flex justify-between items-center mb-2">
              <div class="text-gray-700"><strong>Duración de Gestión:</strong> {{ incidencia.CN_Duracion_Gestion_Incidencia }} minutos</div>
            </div>
          </ng-container>

          <!-- Campos adicionales para rol 4 -->
          <ng-container *ngIf="user === 4 && toast !== 0">
            <div class="flex justify-between items-center mb-2">
              <div class="text-gray-700"><strong>Fecha y hora de asignacion:</strong> {{ incidencia.CF_Fecha_Asignacion | date: 'short' }}</div>
            </div>
            <div class="flex justify-between items-center mb-2">
              <div class="text-gray-700"><strong>Prioridad:</strong> {{ incidencia.T_Prioridad.CT_Descripcion }}</div>
            </div>
            <div class="flex justify-between items-center mb-2">
              <div class="text-gray-700"><strong>Riesgo:</strong> {{ incidencia.T_Riesgo.CT_Descripcion }}</div>
            </div>
            <div class="flex justify-between items-center mb-2">
              <div class="text-gray-700"><strong>Afectación:</strong> {{ incidencia.T_Afectacion.CT_Descripcion }}</div>
            </div>
            <div class="flex justify-between items-center mb-2">
              <div class="text-gray-700"><strong>Categoría:</strong> {{ incidencia.T_Categoria.CT_Descripcion }}</div>
            </div>
          </ng-container>

          <!-- Botones adicionales -->
          <div class="flex items-center justify-end">
            <ion-button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" size="small" fill="clear" (click)="verEvidencias(incidencia)">
              <ion-icon slot="icon-only" name="images"></ion-icon>
               Ver Evidencias
            </ion-button>
          </div>

          <ng-container *ngIf="user === 1 || user === 4 && toast !== 0">
            <div class="flex items-center justify-end">
              <ion-button class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded" size="small" fill="clear" (click)="onEdit(incidencia)">
                <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                Realizar diagnóstico
              </ion-button>
            </div>
          </ng-container>

          <ng-container *ngIf="user === 3">
            <div class="flex items-center justify-end">
              <ion-button class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded"  size="small" fill="clear" (click)="asignarIncidencia(incidencia)">
                <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                Asignar Técnico
              </ion-button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ion-content>
