<ion-content color="primary" class="ion-padding">
  <div class="flex justify-center">
    <img src="../assets/UCR.png" alt="Logo" class="h-25 w-50">
  </div>
  <ion-card-header>
    <ion-card-title class="text-center text-2xl font-bold text-white">Administrador</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="rounded-lg border p-5 bg-white">
      <div class="mb-4">
        <ion-button expand="block" class="bg-blue-500 text-white font-bold py-2 px-4 rounded">
          Gestionar Incidencias
        </ion-button>
      </div>
      <div class="mb-4">
        <ion-button expand="block" class="bg-blue-500 text-white font-bold py-2 px-4 rounded">
          Gestionar Roles
        </ion-button>
      </div>
      <div class="mb-4">
        <ion-button expand="block" class="bg-blue-500 text-white font-bold py-2 px-4 rounded">
          Gestionar Usuarios
        </ion-button>
      </div>
      <div class="mb-4">
        <ion-button expand="block" class="bg-blue-500 text-white font-bold py-2 px-4 rounded">
          Gestionar Pantallas
        </ion-button>
      </div>
      <div class="mb-4">
        <ion-button expand="block" class="bg-blue-500 text-white font-bold py-2 px-4 rounded"
        (click)="reporteView()">
          Reporte de Cargas de Trabajo
        </ion-button>
      </div>
    </div>
  </ion-card-content>
</ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <ion-title class="text-right text-gray-600 font-sans">© 2024 Universidad de Costa Rica.</ion-title>
  </ion-toolbar>
</ion-footer>
